<div class="container">
		<div class="h-600x h-sm-auto">
			<div class="h-2-3 h-sm-auto oflow-hidden">
		
				<div class="pb-5 pr-5 pr-sm-0 float-left float-sm-none w-2-3 w-sm-100 h-100 h-sm-300x">
					<a class="pos-relative h-100 dplay-block" href="#">
					
						<div class="img-bg bg-1 bg-grad-layer-6"></div>
						
						<div class="abs-blr color-white p-20 bg-sm-color-7">
							<h3 class="mb-15 mb-sm-5 font-sm-13"><b>Ruling BJP loses majority in Haryana, retains power in Maharashtra</b></h3>
							<ul class="list-li-mr-20">
								<li>by <span class="color-primary"><b>Pradnesh Khedekar</b></span> Oct 25, 2019</li>
								<li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>36,190</li>
								<li><i class="color-primary mr-5 font-12 ion-chatbubbles"></i>42</li>
							</ul>
						</div><!--abs-blr -->
					</a><!-- pos-relative -->
				</div><!-- w-1-3 -->
				
				<div class="float-left float-sm-none w-1-3 w-sm-100 h-100 h-sm-600x">
				
					<div class="pl-5 pb-5 pl-sm-0 ptb-sm-5 pos-relative h-50">
						<a class="pos-relative h-100 dplay-block" href="#">
						
							<div class="img-bg bg-2 bg-grad-layer-6"></div>
							
							<div class="abs-blr color-white p-20 bg-sm-color-7">
								<h4 class="mb-10 mb-sm-5"><b>PewDiePie: No, the world's biggest YouTuber is not banned in China</b></h4>
								<ul class="list-li-mr-20">
									<li>Oct 25, 2019</li>
									<li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>27,190</li>
									<li><i class="color-primary mr-5 font-12 ion-chatbubbles"></i>36</li>
								</ul>
							</div><!--abs-blr -->
						</a><!-- pos-relative -->
					</div><!-- w-1-3 -->
					
					<div class="pl-5 ptb-5 pl-sm-0 pos-relative h-50">
						<a class="pos-relative h-100 dplay-block" href="#">
						
							<div class="img-bg bg-3 bg-grad-layer-6"></div>
							
							<div class="abs-blr color-white p-20 bg-sm-color-7">
								<h4 class="mb-10 mb-sm-5"><b>India wrap up series whitewash over SA</b></h4>
								<ul class="list-li-mr-20">
									<li>Oct 21, 2019</li>
									<li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>32,190</li>
									<li><i class="color-primary mr-5 font-12 ion-chatbubbles"></i>53</li>
								</ul>
							</div><!--abs-blr -->
						</a><!-- pos-relative -->
					</div><!-- w-1-3 -->
					
				</div><!-- float-left -->

			</div><!-- h-2-3 -->
			
			<div class="h-1-3 oflow-hidden">
		
				<div class="pr-5 pr-sm-0 pt-5 float-left float-sm-none pos-relative w-1-3 w-sm-100 h-100 h-sm-300x">
					<a class="pos-relative h-100 dplay-block" href="#">
					
						<div class="img-bg bg-4 bg-grad-layer-6"></div>
						
						<div class="abs-blr color-white p-20 bg-sm-color-7">
							<h4 class="mb-10 mb-sm-5"><b>Rival sign landmark Sikh temple corridor deal</b></h4>
							<ul class="list-li-mr-20">
								<li>Oct 25, 2019</li>
								<li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>30,190</li>
								<li><i class="color-primary mr-5 font-12 ion-chatbubbles"></i>30</li>
							</ul>
						</div><!--abs-blr -->
					</a><!-- pos-relative -->
				</div><!-- w-1-3 -->
				
				<div class="plr-5 plr-sm-0 pt-5 pt-sm-10 float-left float-sm-none pos-relative w-1-3 w-sm-100 h-100 h-sm-300x">
					<a class="pos-relative h-100 dplay-block" href="#">
					
						<div class="img-bg bg-5 bg-grad-layer-6"></div>
						
						<div class="abs-blr color-white p-20 bg-sm-color-7">
							<h4 class="mb-10 mb-sm-5"><b>Software giant Infosys probes whistleblower claims</b></h4>
							<ul class="list-li-mr-20">
								<li>Oct 25, 2019</li>
								<li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>39,190</li>
								<li><i class="color-primary mr-5 font-12 ion-chatbubbles"></i>36</li>
							</ul>
						</div><!--abs-blr -->
					</a><!-- pos-relative -->
				</div><!-- w-1-3 -->
				
				<div class="pl-5 pl-sm-0 pt-5 pt-sm-10 float-left float-sm-none pos-relative w-1-3 w-sm-100 h-100 h-sm-300x">
					<a class="pos-relative h-100 dplay-block" href="#">
					
						<div class="img-bg bg-6 bg-grad-layer-6"></div>
						
						<div class="abs-blr color-white p-20 bg-sm-color-7">
							<h4 class="mb-10 mb-sm-5"><b>Bitcoin Billionares Hidding in Plain Sight</b></h4>
							<ul class="list-li-mr-20">
								<li>Oct 25, 2019</li>
								<li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>30,190</li>
								<li><i class="color-primary mr-5 font-12 ion-chatbubbles"></i>30</li>
							</ul>
						</div><!--abs-blr -->
					</a><!-- pos-relative -->
				</div><!-- w-1-3 -->
				
			</div><!-- h-2-3 -->
		</div><!-- h-100vh -->
	</div><!-- container -->
	
	
	<section>
		<div class="container">
			<div class="row">
			
				<div class="col-md-12 col-lg-8">
					<h4 class="p-title"><b>RECENT NEWS</b></h4>
					<div class="row">
					
						<div class="col-sm-6">
							<img src="../assets/images/rugby.jpg" alt="">
							<h4 class="pt-20"><a href="#"><b>England reach rugby world cup finals</b></a></h4>
							<ul class="list-li-mr-20 pt-10 pb-20">
								<li class="color-lite-black">by <a href="#" class="color-black"><b>Pradeep K.</b></a>
								Oct 25, 2019</li>
								<li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i><b>30,190</b></li>
								<li><i class="color-primary mr-5 font-12 ion-chatbubbles"></i><b>47</b></li>
							</ul>
							<p>England beat two-time defending champions to reach the finals in 12 years</p>
							<br>	
						</div><!-- col-sm-6 -->
						
						<div class="col-sm-6">
							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="#">
								<div class="wh-100x abs-tlr"><img src="../assets/images/plane.jpg" alt="" style="height: inherit;"></div>
								<div class="ml-120 min-h-100x">
									<h5><b>What went wrong inside boeing's cockpit?</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Rohit Dhonde,</b></span> Oct 25, 2019</h6>
								</div>
							</a><!-- oflow-hidden -->
							
							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="#">
								<div class="wh-100x abs-tlr"><img src="../assets/images/jap1.png" alt="" style="height: inherit;"></div>
								<div class="ml-120 min-h-100x">
									<h5><b>The door knock that killed a japanese boy</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Abhay Gupta,</b></span> Oct 25, 2019</h6>
								</div>
							</a><!-- oflow-hidden -->
							
							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="#">
								<div class="wh-100x abs-tlr"><img src="../assets/images/mani.jpeg" alt="" style="height: inherit;"></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Man city see off Villa to close the gap on liverpool</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Shailesh Gupta,</b></span> Oct 25, 2019</h6>
								</div>
							</a><!-- oflow-hidden -->
							
							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="#">
								<div class="wh-100x abs-tlr"><img src="../assets/images/polular-4-100x100.jpg" alt="" style="height: inherit;"></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Bitcoin Billionares Hidding in Plain Sight</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile Palmer,</b></span> Oct 25, 2019</h6>
								</div>
							</a><!-- oflow-hidden -->
						</div><!-- col-sm-6 -->
						
					</div><!-- row -->
					
					<h4 class="p-title mt-30"><b>TECHNOLOGY NEWS</b></h4>
					<div class="row">
					
						<div class="col-sm-6">
							<img src="../assets/images/crypto-news-6-600x450.jpg" alt="">
							<h4 class="pt-20"><a href="#"><b>Tech Tent: <br/>Shutting down software scammers</b></a></h4>
							<ul class="list-li-mr-20 pt-10 mb-30">
								<li class="color-lite-black">by <a href="#" class="color-black"><b>Abhishek Dixit,</b></a>
								Oct 25, 2019</li>
								<li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>30,190</li>
								<li><i class="color-primary mr-5 font-12 ion-chatbubbles"></i>47</li>
							</ul>
						</div><!-- col-sm-6 -->
						
						<div class="col-sm-6">
							<img src="../assets/images/crypto-news-5-600x450.jpg" alt="">
							<h4 class="pt-20"><a href="#"><b>2017 Market Performance: <br/>Crypto vs.Stock</b></a></h4>
							<ul class="list-li-mr-20 pt-10 mb-30">
								<li class="color-lite-black">by <a href="#" class="color-black"><b>Olivia Capzallo,</b></a>
								Oct 25, 2019</li>
								<li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>30,190</li>
								<li><i class="color-primary mr-5 font-12 ion-chatbubbles"></i>47</li>
							</ul>
						</div><!-- col-sm-6 -->
					
						<div class="col-sm-6">
							<img src="../assets/images/term.png" alt="" style="height: 66%;">
							<h4 class="pt-20"><a href="#"><b>Terminator sends shudder across AI labs</b></a></h4>
							<ul class="list-li-mr-20 pt-10 mb-30">
								<li class="color-lite-black">by <a href="#" class="color-black"><b>Vignesh Iyer,</b></a>
								Oct 25, 2019</li>
								<li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>30,190</li>
								<li><i class="color-primary mr-5 font-12 ion-chatbubbles"></i>47</li>
							</ul>
						</div><!-- col-sm-6 -->
						
						<div class="col-sm-6">
							<img src="../assets/images/cod.jpg" alt="" style="height: 66%;">
							<h4 class="pt-20"><a href="#"><b>Call of duty arrives amid China controversies</b></a></h4>
							<ul class="list-li-mr-20 pt-10 mb-30">
								<li class="color-lite-black">by <a href="#" class="color-black"><b>Rohan Gore,</b></a>
								Oct 25, 2019</li>
								<li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>33,190</li>
								<li><i class="color-primary mr-5 font-12 ion-chatbubbles"></i>57</li>
							</ul>
						</div><!-- col-sm-6 -->
						
						<div class="col-sm-6">
							<img src="../assets/images/stalk.jpg" alt="">
							<h4 class="pt-20"><a href="#"><b>Stalking software is on the rise</b></a></h4>
							<ul class="list-li-mr-20 pt-10 mb-30">
								<li class="color-lite-black">by <a href="#" class="color-black"><b>Olivia Capzallo,</b></a>
								Oct 25, 2019</li>
								<li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>30,190</li>
								<li><i class="color-primary mr-5 font-12 ion-chatbubbles"></i>47</li>
							</ul>
						</div><!-- col-sm-6 -->
						
						<div class="col-sm-6">
							<img src="../assets/images/amazon.jpg" alt="" style="height: 70%;">
							<h4 class="pt-20"><a href="#"><b>Amazon profits hit by rising shipping costs</b></a></h4>
							<ul class="list-li-mr-20 pt-10 mb-30">
								<li class="color-lite-black">by <a href="#" class="color-black"><b>Akash sharma,</b></a>
								Oct 25, 2019</li>
								<li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>30,190</li>
								<li><i class="color-primary mr-5 font-12 ion-chatbubbles"></i>47</li>
							</ul>
						</div><!-- col-sm-6 -->
						
					</div><!-- row -->
					
					<a class="dplay-block btn-brdr-primary mt-20 mb-md-50" href="#"><b>VIEW MORE</b></a>
				</div><!-- col-md-9 -->
				
				<div class="d-none d-md-block d-lg-none col-md-3"></div>
				<div class="col-md-6 col-lg-4">
					<div class="pl-20 pl-md-0">
						<ul class="list-block list-li-ptb-15 list-btm-border-white bg-primary text-center">
							<li><b>1$ = 70.84 INR</b></li>
							<li><b>1 PKR = 0.45 INR</b></li>
							<li><b>1 BTC = $13,2323</b></li>
							<li><b>1 BTC = 644763.01 INR</b></li>
							<li><b>1 Aus $ = 48.33 INR</b></li>
							<li><b>1 Taka = 0.84 INR</b></li>
						</ul>
						
						<div class="mtb-50">
							<h4 class="p-title"><b>POPULAR POSTS</b></h4>
							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="#">
								<div class="wh-100x abs-tlr"><img src="../assets/images/mia1.jpeg" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Why China dominates india's market</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Prakash singh,</b></span> Oct 25, 2019</h6>
								</div>
							</a><!-- oflow-hidden -->

							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="#">
								<div class="wh-100x abs-tlr"><img src="../assets/images/pewds1.jpeg" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>No, Pewdiepie is not banned in China</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Pradnesh Khedekar,</b></span> Oct 25, 2019</h6>
								</div>
							</a><!-- oflow-hidden -->
							
							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="#">
								<div class="wh-100x abs-tlr"><img src="../assets/images/info.jpeg" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Software giant Infosys probes whistleblower claims</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Sundarlal,</b></span> Oct 25, 2019</h6>
								</div>
							</a><!-- oflow-hidden -->
							
							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="#">
								<div class="wh-100x abs-tlr"><img src="../assets/images/jap1.png" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>The door knock that killed a japanese boy</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Gafur Ghisela,</b></span> Oct 25, 2019</h6>
								</div>
							</a><!-- oflow-hidden -->
							
						</div><!-- mtb-50 -->
						
						<div class="mtb-50 pos-relative">
							<img src="../assets/images/app.jpg" alt="">
							<div class="abs-tblr bg-layer-7 text-center color-white">
								<div class="dplay-tbl">
									<div class="dplay-tbl-cell">
										<h4><b>Available for mobile & desktop</b></h4>
										<a class="mt-15 color-primary link-brdr-btm-primary" href="#"><b>Download for free</b></a>
									</div><!-- dplay-tbl-cell -->
								</div><!-- dplay-tbl -->
							</div><!-- abs-tblr -->
						</div><!-- mtb-50 -->
						
						<div class="mtb-50 mb-md-0">
							<h4 class="p-title"><b>NEWSLETTER</b></h4>
							<p class="mb-20">Subscribe to our newsletter to get notification about new updates,
								information, discount, etc..</p>
							<form class="nwsltr-primary-1">
								<input type="text" placeholder="Your email"/>
								<button type="submit"><i class="ion-ios-paperplane"></i></button>
							</form>
						</div><!-- mtb-50 -->
						
					</div><!--  pl-20 -->
				</div><!-- col-md-3 -->
				
			</div><!-- row -->
		</div><!-- container -->
	</section>
	
	
	<footer class="bg-191 color-ccc">
		
		<div class="container">
			<div class="pt-50 pb-20 pos-relative">
				<div class="abs-tblr pt-50 z--1 text-center">
					<div class="h-80 pos-relative"><img class="opacty-1 h-100 w-auto" src="../assets/images/map.png" alt=""></div>
				</div>
				<div class="row">
				
					<div class="col-sm-4">
						<div class="mb-30">
							<a href="#"><img src="../assets/images/logo-white.png"></a>
							<p class="mtb-20 color-ccc">F-Indicator is an open source hoax detector made with Artificial Intelligence technologies specially Machine learning and Natural language processing.</p>
							<p class="color-ash"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
						</div><!-- mb-30 -->
					</div><!-- col-md-4 -->
					
					<div class="col-sm-4">
						<div class="mb-30">
							<h5 class="color-primary mb-20"><b>MOST POPULAR</b></h5>
							<div class="mb-20">
								<a class="color-white" href="#"><b>Why fitness is important for all?</b></a>
								<h6 class="mt-10">Oct 25, 2019</h6>
							</div>
							<div class="brdr-ash-1 opacty-2 mr-30"></div>
							<div class="mt-20">
								<a class="color-white" href="#"><b>Reservation: a blessing or a curse?</b></a>
								<h6 class="mt-10">Oct 25, 2019</h6>
							</div>
						</div><!-- mb-30 -->
					</div><!-- col-md-4 -->
					
					<div class="col-sm-4">
						<div class="mb-30">
							<h5 class="color-primary mb-20"><b>MOST POPULAR</b></h5>
							<div class="mb-20">
								<a class="color-white" href="#"><b>AI and Machine learning are growing by the day</b></a>
								<h6 class="mt-10">Oct 25, 2019</h6>
							</div>
							<div class="brdr-ash-1 opacty-2 mr-30"></div>
							<div class="mt-20">
								<a class="color-white" href="#"><b>Cashless economy rise in the past 3 years</b></a>
								<h6 class="mt-10">Oct 25, 2019</h6>
							</div>
						</div><!-- mb-30 -->
					</div><!-- col-md-4 -->
					
				</div><!-- row -->
			</div><!-- ptb-50 -->
			
			<div class="brdr-ash-1 opacty-2"></div>
			
			<div class="oflow-hidden color-ash font-9 text-sm-center ptb-sm-5">
			
				<ul class="float-left float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-10">
					<li><a class="pl-0 pl-sm-10" href="#">Terms & Conditions</a></li>
					<li><a href="#">Privacy policy</a></li>
					<li><a href="#">Jobs advertising</a></li>
					<li><a href="#">Contact us</a></li>
				</ul>
				<ul class="float-right float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-5">
					<li><a class="pl-0 pl-sm-10" href="#" style="font-size: 13px;"><i class="ion-social-facebook"></i></a></li>
					<li><a href="#" style="font-size: 13px;"><i class="ion-social-twitter"></i></a></li>
					<li><a href="#" style="font-size: 13px;"><i class="ion-social-google"></i></a></li>
					<li><a href="#" style="font-size: 13px;"><i class="ion-social-instagram"></i></a></li>
				</ul>
				
			</div><!-- oflow-hidden -->
		</div><!-- container -->
	</footer>