<section style="padding: 20px 0;">
		<div class="container" >
			<div class="container" style="padding-bottom: 2%;">
			  <div class="p-title"></div>
			  <div style="margin-left: 15px;">
			    <p><i>"When fake news is repeated, it becomes difficult for the public to discern what's real."</i></p>
			    <p>Jimmy Gomez</p>
			    <br>
			  </div>
		</div>
			<!-- <p><big></big></p> -->
			<div class="container c1">
				<div class="card1">
				  <img src="../assets/images/vig1.jpeg" style="width:100%; border-radius: 75%; padding: 9px; height: 250px;">
				  <h2>Vignesh Iyer</h2>
				  <p class="title">CEO & Founder, NewsBit</p>
				  <p>Back-end Front-end Engineer</p>
				  <p>Pillai College of Engineering</p>
				  <p>Mumbai University</p>
				  <div style="margin-top: 10px; margin-bottom: 10px; letter-spacing: 15px; margin-left: 10px;">
				    <a href="#" target="_blank" style="font-size: 22px;"><i class="fa fa-linkedin"></i></a> 
				    <a href="#" target="_blank" style="font-size: 22px;"><i class="fa fa-instagram"></i></a> 
				    <a href="#" target="_blank" style="font-size: 22px;"><i class="fa fa-medium custom"></i></a>   
				    <a href="#" target="_blank" style="font-size: 22px;"><i class="fa fa-facebook"></i></a> 
				    <a href="#" target="_blank" style="font-size: 22px;"><i class="fa fa-twitter"></i></a> 
				  </div>
				</div>
				<div class="card2">
				  <img src="../assets/images/rohan1.jpeg" style="width:100%; border-radius: 75%; padding: 9px;">
				  <h2>Rohan Gore</h2>
				  <p class="title">Co-Founder, NewsBit</p>
				  <p>Front-end Engineer</p>
				  <p>Pillai College of Engineering</p>
				  <p>Mumbai University</p>
				  <div style="margin-top: 10px; margin-bottom: 10px; letter-spacing: 15px; margin-left: 10px;">
				    <a href="#" target="_blank" style="font-size: 22px;"><i class="fa fa-linkedin"></i></a> 
				    <a href="#" target="_blank" style="font-size: 22px;"><i class="fa fa-instagram"></i></a> 
				    <a href="#" target="_blank" style="font-size: 22px;"><i class="fa fa-medium"></i></a>   
				    <a href="#" target="_blank" style="font-size: 22px;"><i class="fa fa-facebook"></i></a> 
				    <a href="#" target="_blank" style="font-size: 22px;"><i class="fa fa-twitter"></i></a> 
				  </div>
				</div>
				<div class="card3">
				  <img src="../assets/images/z.jpeg" style="width:100%; border-radius: 50%; padding: 9px; height: 247px;">
				  <h2>Abhishek Dixit</h2>
				  <p class="title">Co-Founder, NewsBit</p>
				  <p>Front-end Engineer</p>
				  <p>Pillai College of Engineering</p>
				  <p>Mumbai University</p>
				  <div style="margin-top: 10px; margin-bottom: 10px; letter-spacing: 15px; margin-left: 10px;">
				    <a href="#" target="_blank" style="font-size: 22px;"><i class="fa fa-linkedin"></i></a> 
				    <a href="#" target="_blank" style="font-size: 22px;"><i class="fa fa-instagram"></i></a> 
				    <a href="#" target="_blank" style="font-size: 22px;"><i class="fa fa-medium"></i></a>   
				    <a href="#" target="_blank" style="font-size: 22px;"><i class="fa fa-facebook"></i></a> 
				    <a href="#" target="_blank" style="font-size: 22px;"><i class="fa fa-twitter"></i></a> 
				  </div>
				</div>
			</div>
			<br>
			<br>

			<div class="row">
			
				<div class="col-sm-12 col-md-8">
					<h3><b>SEND US A MESSAGE</b></h3>
					<p class="mb-30 mr-100 mr-sm-0">We’d love to hear from you – please get in touch for comments, requests, 
						advertising partnerships or job inquiries.</p>
					<form class="form-block form-bold form-mb-20 form-h-35 form-brdr-b-grey pr-50 pr-sm-0">
						<div class="row">
						
							<div class="col-sm-6">
								<p class="color-ash">Full Name*</p>
								<div class="pos-relative">
									<input class="pr-20" type="text" >
								</div><!-- pos-relative -->
							</div><!-- col-sm-6 -->
							
							<div class="col-sm-6">							
								<p class="color-ash">Email*</p>
								<div class="pos-relative">
									<input class="pr-20" type="email">
									<i class="dplay-none abs-tbr lh-35 font-13 color-green ion-android-done"></i>
								</div><!-- pos-relative -->
							</div><!-- col-sm-6 -->
							
							<div class="col-sm-6">	
								<p class="color-ash">Your Phone*</p>
								<div class="pos-relative">
									<input class="pr-20" type="text">
									<i class="dplay-none abs-tbr lh-35 font-13 color-green ion-android-done"></i>
								</div><!-- pos-relative -->
							</div><!-- col-sm-6 -->
							
							<div class="col-sm-6">	
								<p class="color-ash">Company*</p>
								<div class="pos-relative">
									<input class="pr-20" type="text">
									<i class="dplay-none abs-tbr lh-35 font-13 color-green ion-android-done"></i>
								</div><!-- pos-relative -->
							</div><!-- col-sm-6 -->
							
							<div class="col-sm-12">
								<div class="pos-relative pr-80">
									<p class="color-ash">Message*</p>
									<h4><b>Tell us about your question</b></h4>
									<textarea class="mb-0"></textarea>
									<button class="abs-br font-20 plr-15 btn-fill-primary" type="submit"><i class="ion-ios-paperplane"></i></button>
								</div><!-- pos-relative -->
							</div><!-- col-sm-6 -->
							
						</div><!-- row -->
					</form>
				</div><!-- col-md-6 -->
				
				<div class="col-sm-12 col-md-4">
					<h3 class="mb-20 mt-sm-50"><b>INFORMATION</b></h3>
					
					<ul class="font-11 list-relative list-li-pl-30 list-block list-li-mb-15">
						<li><i class="abs-tl ion-ios-location"></i>400701 NewsBit sector 12b Koparkhairne<br/>Navi Mumbai</li>
						<li><i class="abs-tl ion-android-mail"></i>newsbit@gmail.com</li>
						<li><i class="abs-tl ion-android-call"></i>(+91)-9619283904</li>
					</ul>
					<ul class="font-11  list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-5">
						<li><a class="pl-0" style="font-size: 22px;" href="#"><i class="ion-social-linkedin"></i></a></li>
						<li><a style="font-size: 22px;" href="#"><i class="ion-social-facebook"></i></a></li>
						<li><a style="font-size: 22px;" href="#"><i class="ion-social-twitter"></i></a></li>
						<li><a style="font-size: 22px;" href="#"><i class="ion-social-google"></i></a></li>
						<li><a style="font-size: 22px;" href="#"><i class="ion-social-pinterest"></i></a></li>
					</ul>
				
				</div><!-- col-md-6 -->
			</div><!-- row -->
		</div><!-- container -->
	</section>

	<footer class="bg-191 color-ccc">
		
		<div class="container">
			<div class="pt-50 pb-20 pos-relative">
				<div class="abs-tblr pt-50 z--1 text-center">
					<div class="h-80 pos-relative"><img class="opacty-1 h-100 w-auto" src="../assets/images/map.png" alt=""></div>
				</div>
				<div class="row">
				
					<div class="col-sm-4">
						<div class="mb-30">
							<a href="#"><img src="../assets/images/logo-white.png"></a>
							<p class="mtb-20 color-ccc">F-Indicator is an open source hoax detector made with Artificial Intelligence technologies specially Machine learning and Natural language processing.</p>
							<p class="color-ash"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
						</div><!-- mb-30 -->
					</div><!-- col-md-4 -->
					
					<div class="col-sm-4">
						<div class="mb-30">
							<h5 class="color-primary mb-20"><b>MOST POPULAR</b></h5>
							<div class="mb-20">
								<a class="color-white" href="#"><b>Why fitness is important for all?</b></a>
								<h6 class="mt-10">Oct 25, 2019</h6>
							</div>
							<div class="brdr-ash-1 opacty-2 mr-30"></div>
							<div class="mt-20">
								<a class="color-white" href="#"><b>Reservation: a blessing or a curse?</b></a>
								<h6 class="mt-10">Oct 25, 2019</h6>
							</div>
						</div><!-- mb-30 -->
					</div><!-- col-md-4 -->
					
					<div class="col-sm-4">
						<div class="mb-30">
							<h5 class="color-primary mb-20"><b>MOST POPULAR</b></h5>
							<div class="mb-20">
								<a class="color-white" href="#"><b>AI and Machine learning are growing by the day</b></a>
								<h6 class="mt-10">Oct 25, 2019</h6>
							</div>
							<div class="brdr-ash-1 opacty-2 mr-30"></div>
							<div class="mt-20">
								<a class="color-white" href="#"><b>Cashless economy rise in the past 3 years</b></a>
								<h6 class="mt-10">Oct 25, 2019</h6>
							</div>
						</div><!-- mb-30 -->
					</div><!-- col-md-4 -->
					
				</div><!-- row -->
			</div><!-- ptb-50 -->
			
			<div class="brdr-ash-1 opacty-2"></div>
			
			<div class="oflow-hidden color-ash font-9 text-sm-center ptb-sm-5">
			
				<ul class="float-left float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-10">
					<li><a class="pl-0 pl-sm-10" href="#">Terms & Conditions</a></li>
					<li><a href="#">Privacy policy</a></li>
					<li><a href="#">Jobs advertising</a></li>
					<li><a href="#">Contact us</a></li>
				</ul>

				<ul class="float-right float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-5">
					<li><a class="pl-0 pl-sm-10" href="#"><i class="ion-social-facebook" style="font-size: 13;"></i></a></li>
					<li><a style="font-size: 13px;" href="#"><i class="ion-social-twitter"></i></a></li>
					<li><a style="font-size: 13px;" href="#"><i class="ion-social-google"></i></a></li>
					<li><a style="font-size: 13px;" href="#"><i class="ion-social-instagram"></i></a></li>
				</ul>
				
			</div><!-- oflow-hidden -->
		</div><!-- container -->
	</footer>