<section style="padding: 0px 0;">
	<div class="container">
		<div class="row">
			<div class="mtb-50 mb-md-0 dixit">
			      <h4 class="p-title"><b>Recent</b></h4>
			      
			      	<div class="col-sm-6"*ngFor="let content of newscontent; let i = index">
			      			<a class="pos-relative mb-20 dplay-block" href="{{ content.url }}">
								<div class="wh-100x abs-tlr"><img src="{{ content.img }}" alt=""></div>
							</a>
							<div class="ml-120 min-h-100x">
								<h5><b>{{ content.description }}</b></h5>
								<a mat-raised-button color="primary" href="{{ content.url }}">
				            		<i class="material-icons md-18">language</i> View full content
				        		</a>
				        		<button mat-raised-button color="primary" style="outline: none;">
				            		<i class="material-icons md-18">delete</i> Remove 
				        		</button>
							</div>
					</div>
					<div class="col-sm-6" *ngIf="!newscontent">
						<div class="ml-120 min-h-100x">
							<h5 style="width: 550px;">No content searched recently..</h5>
						</div>
					</div>
			</div>
			<div class="d-none d-md-block d-lg-none col-md-3"></div>
			<div class="col-md-6 col-lg-4">
					<div class="pl-20 pl-md-0">
						<ul class="list-block list-li-ptb-15 list-btm-border-white bg-primary text-center">
							<li><b>1$ = 70.84 INR</b></li>
							<li><b>1 PKR = 0.45 INR</b></li>
							<li><b>1 BTC = $13,2323</b></li>
							<li><b>1 BTC = 644763.01 INR</b></li>
							<li><b>1 Aus $ = 48.33 INR</b></li>
							<li><b>1 Taka = 0.84 INR</b></li>
						</ul>
						
						<div class="mtb-50">
							<h4 class="p-title"><b>POPULAR POSTS</b></h4>
							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="#">
								<div class="wh-100x abs-tlr"><img src="../assets/images/mia1.jpeg" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Why China dominates india's market</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Prakash singh,</b></span> Oct 25, 2019</h6>
								</div>
							</a><!-- oflow-hidden -->

							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="#">
								<div class="wh-100x abs-tlr"><img src="../assets/images/pewds1.jpeg" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>No, Pewdiepie is not banned in China</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Pradnesh Khedekar,</b></span> Oct 25, 2019</h6>
								</div>
							</a><!-- oflow-hidden -->
							
							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="#">
								<div class="wh-100x abs-tlr"><img src="../assets/images/info.jpeg" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Software giant Infosys probes whistleblower claims</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Sundarlal,</b></span> Oct 25, 2019</h6>
								</div>
							</a><!-- oflow-hidden -->
							
							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="#">
								<div class="wh-100x abs-tlr"><img src="../assets/images/jap1.png" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>The door knock that killed a japanese boy</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Gafur Ghisela,</b></span> Oct 25, 2019</h6>
								</div>
							</a><!-- oflow-hidden -->
							
						</div><!-- mtb-50 -->
						
						<div class="mtb-50 pos-relative">
							<img src="../assets/images/app.jpg" alt="">
							<div class="abs-tblr bg-layer-7 text-center color-white">
								<div class="dplay-tbl">
									<div class="dplay-tbl-cell">
										<h4><b>Available for mobile & desktop</b></h4>
										<a class="mt-15 color-primary link-brdr-btm-primary" href="#"><b>Download for free</b></a>
									</div><!-- dplay-tbl-cell -->
								</div><!-- dplay-tbl -->
							</div><!-- abs-tblr -->
						</div><!-- mtb-50 -->
						
						<div class="mtb-50 mb-md-0">
							<h4 class="p-title"><b>NEWSLETTER</b></h4>
							<p class="mb-20">Subscribe to our newsletter to get notification about new updates,
								information, discount, etc..</p>
							<form class="nwsltr-primary-1">
								<input type="text" placeholder="Your email"/>
								<button type="submit"><i class="ion-ios-paperplane"></i></button>
							</form>
						</div><!-- mtb-50 -->
						
					</div><!--  pl-20 -->
				</div><!-- col-md-3 -->

				</div>
		</div>
</section>							
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="bg-191 color-ccc">
		
		<div class="container">
			<div class="pt-50 pb-20 pos-relative">
				<div class="abs-tblr pt-50 z--1 text-center">
					<div class="h-80 pos-relative"><img class="opacty-1 h-100 w-auto" src="../assets/images/map.png" alt=""></div>
				</div>
				<div class="row">
				
					<div class="col-sm-4">
						<div class="mb-30">
							<a href="#"><img src="../assets/images/logo-white.png"></a>
							<p class="mtb-20 color-ccc">F-Indicator is an open source hoax detector made with Artificial Intelligence technologies specially Machine learning and Natural language processing.</p>
							<p class="color-ash"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
						</div><!-- mb-30 -->
					</div><!-- col-md-4 -->
					
					<div class="col-sm-4">
						<div class="mb-30">
							<h5 class="color-primary mb-20"><b>MOST POPULAR</b></h5>
							<div class="mb-20">
								<a class="color-white" href="#"><b>Why fitness is important for all?</b></a>
								<h6 class="mt-10">Oct 25, 2019</h6>
							</div>
							<div class="brdr-ash-1 opacty-2 mr-30"></div>
							<div class="mt-20">
								<a class="color-white" href="#"><b>Reservation: a blessing or a curse?</b></a>
								<h6 class="mt-10">Oct 25, 2019</h6>
							</div>
						</div><!-- mb-30 -->
					</div><!-- col-md-4 -->
					
					<div class="col-sm-4">
						<div class="mb-30">
							<h5 class="color-primary mb-20"><b>MOST POPULAR</b></h5>
							<div class="mb-20">
								<a class="color-white" href="#"><b>AI and Machine learning are growing by the day</b></a>
								<h6 class="mt-10">Oct 25, 2019</h6>
							</div>
							<div class="brdr-ash-1 opacty-2 mr-30"></div>
							<div class="mt-20">
								<a class="color-white" href="#"><b>Cashless economy rise in the past 3 years</b></a>
								<h6 class="mt-10">Oct 25, 2019</h6>
							</div>
						</div><!-- mb-30 -->
					</div><!-- col-md-4 -->
					
				</div><!-- row -->
			</div><!-- ptb-50 -->
			
			<div class="brdr-ash-1 opacty-2"></div>
			
			<div class="oflow-hidden color-ash font-9 text-sm-center ptb-sm-5">
			
				<ul class="float-left float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-10">
					<li><a class="pl-0 pl-sm-10" href="#">Terms & Conditions</a></li>
					<li><a href="#">Privacy policy</a></li>
					<li><a href="#">Jobs advertising</a></li>
					<li><a href="#">Contact us</a></li>
				</ul>
				<ul class="float-right float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-5">
					<li><a class="pl-0 pl-sm-10" href="#" style="font-size: 13px;"><i class="ion-social-facebook"></i></a></li>
					<li><a href="#"><i class="ion-social-twitter" style="font-size: 13px;"></i></a></li>
					<li><a href="#"><i class="ion-social-google" style="font-size: 13px;"></i></a></li>
					<li><a href="#"><i class="ion-social-instagram" style="font-size: 13px;"></i></a></li>
				</ul>
				
			</div><!-- oflow-hidden -->
		</div><!-- container -->
	</footer>